<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/education?useUnicode=yes&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">111111</property>
        <property name="show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory-->
        <!--</property>-->

        <!--Here we are mapping Pojo class not hbm-->
        <mapping class="by.pvt.medvedeva.education.entity.Course"/>
        <mapping class="by.pvt.medvedeva.education.entity.Student"/>
        <mapping class="by.pvt.medvedeva.education.entity.Teacher"/>
        <mapping class="by.pvt.medvedeva.education.entity.User"/>
    </session-factory>
</hibernate-configuration>